body {
    background-image: url(https://i.gifer.com/MKuM.gif);
    color: white;
    text-align: center;
}
h1{
    font-size: 500%;
    font-family: fantasy;
}
#uno{
    font-family: fantasy;
    background-image: url(https://i.pinimg.com/originals/c2/98/95/c298950f597cc4ba4b27ac44227b2a62.gif);
    font-size: 200%;
    background-size: auto;
}
h3{
    font-weight: bold;
    font-size:350% ;
}
* {
  padding: 0;
  margin: 0;
}
#dos{
    background-color: white;
}